@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.App {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.2px;
  text-align: center;
}

.image-upload-card {
  max-width: 400px;
  padding: 20px 50px;
  margin: 5% auto;
  border-radius: 10px;
  box-shadow: 0 4px 20px lightgrey;
}

.image-upload-card > h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.image-upload-card > p {
  font-size: 0.7em;
}

.content {
  margin: 40px 0;
}
